<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <div class="container mt-5">
        <h1>Dashboard</h1>
    </div>
    <div class="container mt-5">
        <form class="row g-3 needs-validation" action="/dashboard" method="post" validate>
            <div class="col-md-4 position-relative">
                <label for="validationTooltip01" class="form-label">Author Name</label>
                <input type="text" name="authorname" class="form-control" id="validationTooltip01" value="Mark"
                    required>
                <div class="valid-tooltip">
                    Looks good!
                </div>
            </div>
            <div class="col-md-5 position-relative">
                <label for="validationTooltip02" class="form-label">Subject Name</label>
                <input type="text" name="subjectname" class="form-control" id="validationTooltip02" value="Otto"
                    required>
                <div class="valid-tooltip">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <select class="form-select" name="semnumber" required aria-label="select example">
                    <option value="Sem1">Sem1</option>
                    <option value="Sem2">Sem2</option>
                    <option value="Sem3">Sem3</option>
                    <option value="Sem4">Sem4</option>
                    <option value="Sem5">Sem5</option>
                    <option value="Sem6">Sem6</option>
                    <option value="Sem7">Sem7</option>
                    <option value="Sem8">Sem8</option>
                </select>
                <div class="invalid-feedback">Example invalid select feedback</div>
            </div>
            <div class="mb-3">
                <select class="form-select" name="branch" required aria-label="select example">
                    <option value="Computer Engineer">Computer Engineer</option>
                    <option value="Civil Engineer">Civil Engineer</option>
                    <option value="Electrical Engineer">Electrical Engineer</option>
                    <option value="Mechanical Engineer">Mechanical Engineer</option>
                    <option value="Electronics Engineer">Electronics Engineer</option>
                    <option value="Chemical Engineer">Chemical Engineer</option>
                    <option value="Biotechnology Engineer">Biotechnology Engineer</option>
                    <option value="Pharmacy Engineer">Pharmacy Engineer</option>
                    <option value="IT Engineer">IT Engineer</option>

                </select>
                <div class="invalid-feedback">Example invalid select feedback</div>
            </div>
            <div class="mb-3">
                <select class="form-select" name="universityname" required aria-label="select example">
                    <option value="Mumbai University">Mumbai University</option>
                </select>
                <div class="invalid-feedback">Example invalid select feedback</div>
            </div>
            <div class="col-mb-5 position-relative">
                <input type="file" name="bookfile" class="form-control" aria-label="file example" accept=".pdf"
                    required>
                <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
    </div>

    </form>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>