<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bootslander Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Bootslander - v4.7.0
  * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1><a href="index.html"><span>BookHub</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">Upload</a></li>
                    <li><a class="nav-link scrollto" href="/logout">Logout</a></li>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                    <div data-aos="zoom-out">
                        <h1>Get University Books For Free <span>BookHub</span></h1>
                        <h2>Upload The Books And Make Internet Better Place For Everyone</h2>
                        <div class="text-center text-lg-start">
                            <a href="#about" class="btn-get-started scrollto">Upload Book</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
                    <img src="/assets/img/resize-1641924900118592829ManReadingaBookVectorIllustration1removebgpreview.png"
                        class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
            </defs>
            <g class="wave1">
                <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
            </g>
            <g class="wave2">
                <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
            </g>
            <g class="wave3">
                <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
            </g>
        </svg>

    </section><!-- End Hero -->

    <main id="main" class="pb-5">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container mt-5">
                <h1>Dashboard</h1>
            </div>
            <div class="container mt-5">
                <form class="row g-3 needs-validation" action="/dashboard" enctype="multipart/form-data" method="post"
                    validate>
                    <div class="col-md-4 position-relative">
                        <label for="validationTooltip01" class="form-label">Author Name</label>
                        <input type="text" name="authorname" class="form-control" id="validationTooltip01"
                            value="GV Kumbhojkar" required>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-5 position-relative">
                        <label for="validationTooltip02" class="form-label">Subject Name</label>
                        <input type="text" name="subjectname" class="form-control" id="validationTooltip02"
                            value="Mathematics" required>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <select class="form-select" name="semnumber" required aria-label="select example">
                            <option value="Sem1">Sem1</option>
                            <option value="Sem2">Sem2</option>
                            <option value="Sem3">Sem3</option>
                            <option value="Sem4">Sem4</option>
                            <option value="Sem5">Sem5</option>
                            <option value="Sem6">Sem6</option>
                            <option value="Sem7">Sem7</option>
                            <option value="Sem8">Sem8</option>
                        </select>
                        <div class="invalid-feedback">Example invalid select feedback</div>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="branch" required aria-label="select example">
                            <option value="Computer Engineer">Computer Engineer</option>
                            <option value="Civil Engineer">Civil Engineer</option>
                            <option value="Electrical Engineer">Electrical Engineer</option>
                            <option value="Mechanical Engineer">Mechanical Engineer</option>
                            <option value="Electronics Engineer">Electronics Engineer</option>
                            <option value="Chemical Engineer">Chemical Engineer</option>
                            <option value="Biotechnology Engineer">Biotechnology Engineer</option>
                            <option value="Pharmacy Engineer">Pharmacy Engineer</option>
                            <option value="IT Engineer">IT Engineer</option>

                        </select>
                        <div class="invalid-feedback">Example invalid select feedback</div>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="universityname" required aria-label="select example">
                            <option value="Mumbai University">Mumbai University</option>
                        </select>
                        <div class="invalid-feedback">Example invalid select feedback</div>
                    </div>
                    <div class="col-mb-5 position-relative">
                        <input type="file" name="bookfile" class="form-control" aria-label="file example" accept=".pdf"
                            required>
                    </div>
                    <div class="col-mb-5 position-relative">
                        <input type="file" name="bannerimage" class="form-control" aria-label="file example"
                            accept=".png,.jpg,.jpeg" required>
                    </div>

                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
            </div>

            </form>
            </div>
        </section>
        <!-- ======= Contact Section ======= -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="/" class="logo d-flex align-items-center">
                            <img src="assets/img/logo.png" alt="">
                            <span>BookHub</span>
                        </a>
                        <p>The world's leading uptime monitoring service.
                            Get Unlimited monitors with 5-minute checks totally FREE.</p>
                        <div class="social-links mt-3">
                            <a href="https://twitter.com/AdhikariSalman?t=RxCEcOAXyNev9pp2-HWnxQ&s=09"
                                class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="https://github.com/YourDad07" class="facebook"><i class="bi bi-github"></i></a>
                            <a href="https://www.linkedin.com/in/salman-adhikari-a938911bb" class="linkedin"><i
                                    class="bi bi-linkedin"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#about">Upload</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Contact Us</h4>
                        <p>
                            Kharghar Sector 35<br>
                            Maharashtra,410210<br>
                            India <br><br>
                            <strong>Phone:</strong> +91 22 3562 0170<br>
                            <strong>Email:</strong> salmanad5s3@gmail.com<br>
                        </p>


                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>@salman</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->

            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>